*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    font-size: 64.5%;
} */
#s1{
    background-color: #fff;
}

h1.s1_h1 {
    color: black;
    text-align: center;
    margin-top: 1rem;
}
ul.parent{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

li.child {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 5px 50px 0 rgb(0 0 0 / 25%);
    width: 50%;
    margin: 1rem 0rem 0rem 0rem;
}
button.done_btn {
    background: wheat;
    border: none;
    padding: 0.5rem;
    border-radius: 10%;
    cursor: pointer;
    float: right;
}

